---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { PostFrontmatter } from "../types/blog";

const allPosts = await Astro.glob<PostFrontmatter>('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {(() => {
      const blogPosts: typeof BlogPost[] = [];
      for (const post of allPosts) {
        if (post.url !== undefined) {
          blogPosts.push(<BlogPost url={post.url} title={post.frontmatter.title} />);
        }
      }

      return blogPosts;
    })()}
  </ul>
</BaseLayout>

