---
import '../styles/global.css';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';

type Props = {
  pageTitle: string;
};
const { pageTitle } = Astro.props;
---
<script>
  import { useDarkMode } from '../services/store';

  useDarkMode.subscribe(val => {
    if (val) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  })
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} />
    <title>{pageTitle}</title>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header client:load/>
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
  </body>
</html>
